/.idea
.vs/Solution1/v15/.ssms_suo
Auth/__pycache__/__init__.cpython-313.pyc
Auth/__pycache__/Auth_classes.cpython-313.pyc
Menus/__pycache__/__init__.cpython-313.pyc
Menus/__pycache__/menus.cpython-313.pyc
Solution1.ssmssln
Users/__pycache__/__init__.cpython-313.pyc
Users/__pycache__/user_classes.cpython-313.pyc
Book/__pycache__/__init__.cpython-313.pyc
Book/__pycache__/book_classes.cpython-313.pyc
Inventory/__pycache__/__init__.cpython-313.pyc
Inventory/__pycache__/inventory_classes.cpython-313.pyc
Buy/__pycache__/__init__.cpython-313.pyc
Buy/__pycache__/buy_book_classes.cpython-313.pyc
__pycache__/main.cpython-313.pyc
